#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        combo_eisu {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LANG2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q          &kp W          &kp E          &kp R        &kp T        &kp Y        &kp U        &kp I          &kp O           &kp P
&kp A          &kp S          &kp D          &kp F        &kp G        &kp H        &kp J        &kp K          &kp L           &kp MINUS
&kp Z          &kp X          &kp C          &kp V        &kp B        &kp N        &kp M        &kp COMMA      &kp DOT         &kp SLASH
&mt LSHFT ESC  &mt LCTRL TAB  &mt LALT LGUI  &lt 1 SPACE  &lt 2 INT5   &lt 2 INT4   &lt 1 RETURN &mt RALT BSPC  &mt RCTRL INS   &mt RSHFT DEL
            >;
        };

        layer1 {
            label = "NUMBER&SYMBOL";
            bindings = <
&kp N1     &kp N2     &kp N3   &kp N4  &kp N5    &kp N6  &kp N7   &kp N8       &kp N9        &kp N0
&kp F1     &kp F2     &kp F3   &kp F4  &kp F5    &kp LEFT &kp DOWN &kp UP      &kp RIGHT     &kp INT1
&kp F6     &kp F7     &kp F8   &kp F9  &kp F10   &trans  &trans   &kp SEMI     &kp APOS      &kp EQUAL
&mt LSHFT F11  &mt LCTRL F12  &kp LALT &trans  &trans    &trans  &trans   &kp RALT     &mt RCTRL RBKT &mt RSHFT BSLH
            >;
        };

        layer2 {
            label = "SHIFT_NUMBER&SYMBOL";
            bindings = <
&kp LS(N1)   &kp LS(N2)  &kp LS(N3)   &kp LS(N4)  &kp LS(N5)     &kp LS(N6)  &kp LS(N7) &kp LS(N8) &kp LS(N9) &kp LS(INT1)
&kp C_MUTE   &kp C_VOL_DN &kp C_VOL_UP &bt BT_CLR &bt BT_CLR_ALL &kp HOME    &kp END    &kp PG_UP  &kp PG_DN  &kp LS(INT3)
&kp C_BRI_UP &kp C_BRI_DN &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans      &kp PSCRN  &kp LS(SEMI) &kp LS(APOS) &kp LS(EQUAL)
&kp LSHFT    &kp LCTRL   &kp LALT     &trans      &trans         &trans      &trans     &kp RALT   &mt RCTRL LS(RBKT) &mt RSHFT LS(BSLH)
            >;
        };

        layer3 {
            label = "AUTO_MOUSE";
            bindings = <
&trans     &trans     &trans   &trans  &trans  &trans  &mkp MB1  &mkp MB2  &trans    &trans
&trans     &trans     &trans   &trans  &trans  &trans  &mkp MB4  &mkp MB3  &mkp MB5  &trans
&trans     &trans     &trans   &trans  &trans  &trans  &trans    &trans    &trans    &trans
&kp LSHFT  &kp LCTRL  &kp LALT &trans  &trans  &trans  &trans    &kp RALT  &kp RCTRL &kp RSHFT
            >;
        };
    };
};
