/ {
    sensor_rotation_left: sensor-rotation-left {
        compatible = "zmk,input-processor-sensor-rotation";
        status = "okay";
        #input-processor-cells = <0>;
        rotation-angle = <(-24)>;
    };

    sensor_rotation_right: sensor-rotation-right {
        compatible = "zmk,input-processor-sensor-rotation";
        #input-processor-cells = <0>;
        status = "okay";
        rotation-angle = <24>;
    };

    scroll_axis_lock: scroll_axis_lock {
        compatible = "zmk,input-processor-roba-scroll";
        #input-processor-cells = <0>;
        axis-mode = <0>;
        snap-x-ratio = <5 8>;
        snap-y-ratio = <1 1>;
        axis = <0>;
        invert-y;
    };
};

&tb_left_listener {
    status = "okay";
    device = <&tb_left>;

    input-processors =
            <&sensor_rotation_left>,
            <&zip_x_scaler 1 15>,
            <&zip_y_scaler 1 15>,
            <&zip_xy_to_scroll_mapper>,
            <&scroll_axis_lock>;
    };
